{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'registration/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'registration/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'registration/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">

    <title>Verification</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <div class="form-group first">
        <label for="code">Code</label>
        <input name="code" type="number" class="form-control"
               placeholder="verification code" id="code">
    </div>
    <input type="submit" value="Verification" class="btn btn-block py-2 btn-primary">
</form>
</body>
</html>